body{
    background-color:#ECF2FF;
    margin: 0 auto;
}

.text{
    font-family:'Poppins', sans-serif;;
}

.top {
    background-color: red;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: absolute;
}
.middle{
    background-color: green;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: absolute;
    top: 100px;
    left:100px
}

.bottom{
    background-color: blue;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: absolute;
    top: 200px;
    left: 200px;
}
