body{
    background-color:#ECF2FF;
    margin: 0;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: #66BFBF;
}
.pro{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}

h1{
    font-family:'Pacifico', cursive;
    font-weight: normal;
    font-size: 4.625rem;
    margin: 0 auto;
    color: #66BFBF;
}

.top-container{
    text-align: center;
    margin: 0;
    padding-top: 100px;
    background-color:#B9F3FC;
}
.cloud1{
    display: inline-block;
    position: absolute;
    right: 200px;
    top: 50px; 
}
.cloud2{
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 200px;

}

.middle-container{
    text-align: center;
    padding: 50px;
}

.bottom-container{
    height: 100px;

    background-color: #B9F3FC;
    text-align: center;
    padding: 20px;
}

.footer-link{
    font-family:'Poppins', sans-serif;
    padding: 20px;
    margin: 100px 0;
    text-decoration: none;
}

.skill-row{
    margin: 100px auto;
    width: 70%;
    text-align: left;
    line-height: 2;
}

.pro-img1{
    float: left;
    width: 25%;
    margin-right: 30px;
}

.pro-img2{
    float: right;
    width: 25%;
    margin-left: 30px;
}